# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# frontend code
node_modules/
dist/

# un-used files for final build
sample/

# previous front-end framework
svelte/

# assets and materials from pelican archive
pelican_convert/
pelican_images/
pelican_posts/

# environment variables
.env